.modal-field-label {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--main-text-color);
}

input {
    margin-top: 4px;
    padding-left: 42px;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    transition: border-color var(--main-transition);
    &:focus {
        border-color: var(--focus-color);
    }
}

.icon {
    transition: fill var(--main-transition);
    pointer-events: none;
    input:hover+&,
    input:focus+& {
        fill: var(--focus-color);
    }
}

.modal-field {
    &.name {
        margin-top: 12px;
        position: relative;
        display: block;
    }
    &.phone {
        position: relative;
        display: block;
        margin-top: 10px;
    }
    &.email {
        position: relative;
        display: block;
        margin-top: 10px;
    }
}

.modal-name.icon {
    display: block;
    position: absolute;
    bottom: 14px;
    left: 15px;
}

.modal-phone.icon {
    display: block;
    position: absolute;
    bottom: 14px;
    left: 15px;
}

.modal-email.icon {
    display: block;
    position: absolute;
    bottom: 14px;
    left: 15px;
}