.hero__title {
  min-width: 200px;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
  color: $hero-main-text-color;
  @media screen and(min-width: 479px) and (max-width: 1199px) {
    width: 360px;
  }
  @media screen and(min-width: 1199px) {
    width: 696px;
    font-size: 44px;
    line-height: 60px;
  }
}

.hero__container {
  padding-top: 118px;
  padding-bottom: 118px;
  max-width: 1600px;
  margin: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero-desktop-1x.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  @media screen and (max-width: 768px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero-mob-1x.jpg");
  }
  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero-tablet-1x.jpg");
  }
  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero-desktop-1x.jpg");
  }
}

@media not all,
  screen and (min-device-pixel-ratio: 2) and (max-width: 768px),
  screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 768px),
  screen and (min-resolution: 192dpi) and (max-width: 768px),
  screen and (min-resolution: 2dppx) and (max-width: 768px) {
  .hero__container {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero-mob-2x.jpg");
  }
}
@media not all,
  screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero__container {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero-tablet-2x.jpg");
  }
}

@media not all,
  screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero__container {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero-desktop-2x.jpg");
  }
}

.button {
  color: $hero-btn-text-color;
  background: $hero-btn-bg-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  min-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  transform: scale(1);
  transition: background-color 250ms $timing-function,
    transform 250ms $timing-function;

  &:hover,
  &:focus {
    background: $hero-btn-active-color;
    transform: scale(1.1);
  }
}
.footer__button {
  @media screen and(min-width: 1199px) {
    margin-left: 12px;
    margin-right: 0;
  }
}
