.logo-box {
}

.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.03em;
  display: block;
  color: #2196f3;
}
.logo--absolute {
  @media screen and(max-width:767px) {
    position: absolute;
    left: 15px;
    top: 16px;
  }
}

.logo--dark {
  color: #212121;
}

.logo--white {
  color: #fff;
}
