.footer-social {
    display: block;

    @media screen and (max-width: 767px) {
        display: block;
        margin-bottom: 60px;
    }

    @media screen and (min-width: 768px)and (max-width: 1199px) {
        display: block;
    }

    @media screen and (min-width: 1200px) {
        margin-left: 70px;
    }

}

.footer-social-title {
    margin-bottom: 20px;
    display: block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: var(--main-letter-spacing);
    text-transform: uppercase;

    color: var(--hero-text-color);

    @media screen and (min-width: 768px)and (max-width: 1199px) {
        text-align: center;
    }
}

.footer-social-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-social-item:not(:last-child) {
    margin-right: 10px;
}


.footer-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #FFFFFF;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    width: 44px;
    height: 44px;
    transition: background-color var(--main-transition);

    &:hover,
    &:focus {
        background-color: var(--focus-color);
    }
}