.our-team {
    background-color: #F5F4FA;
}

.our-team-list {
    display: flex;
    justify-content: center;

    @media screen and (max-width: 1199px) {
        flex-wrap: wrap;
    }

    @media screen and (min-width: 1200px) {
        flex-wrap: nowrap;
    }
}

.our-team-title {
    display: block;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--title-text-color);
    letter-spacing: var(--main-letter-spacing);
}

.our-team-list-item {
    display: block;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: #FFFFFF;

    @media screen and (max-width: 767px) {
        width: 100%;

        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        flex-basis: calc((100% - 2 * 30px)/2);

        &:nth-child(2n - 1) {
            margin-right: 30px;
        }

        &:nth-child(-n + 2) {
            margin-bottom: 30px;
        }
    }

    @media screen and (min-width: 1200px) {
        flex-basis: calc((100% - 4 * 30px)/4);

        &:not(:last-child) {
            margin-right: 30px;
        }
    }
}

.our-team-list-item__img {
    display: block;
    margin-bottom: 30px;
}

.our-team-list-item__name {
    display: block;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--title-text-color);
}

.our-team-list-item__position {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-bottom: 16px;
}