:root {
  --title-text-color: #212121;
  --header-link-color: #212121;
  --button-services-color: #212121;
  --secondary-text-color: #757575;
  --main-text-color: #ffffff;
  --main-background-color: #ffffff;
  --footer-text: #ffffff;
  --button-text-color: #ffffff;
  --logo-studio-color: #000000;
  --logo-studio-alt-color: #ffffff;
  --hero-button-color: #ffffff;
  --hero-button-color-alt: #000000;
  --logo-web-color: #2196f3;
  --link-color: #2196f3;
  --main-button-color: #2196f3;
  --bg-icon-color: #2196f3;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --hero-background-color: #2f303a;
  --footer-background-color: #2f303a;
  --button-background-color: #f5f4fa;
  --team-background-color: #f5f4fa;
  --list-right-margin: 30px;
}
