$body-bg-color: #ffffff;
$body-text-color: #212121;
$active-color: #2196f3;
$clients-button-color: #afb1b8;
$clients-button-border-color: #afb1b8;
$clients-button-bg-color: #ffffff;
$clients-button-active-border-color: #188ce8;
$logo-color: #2196f3;
$logo-dark-color: #212121;
$logo-white-color: #ffffff;
$header-link-color: #212121;
$header-link-active-color: #2196f3;
$header-contact-link-active-color: #2196f3;
$header-contact-link-color: #757575;
$header-contact-list-icon-color: #757575;
$header-link-current-color: #2196f3;
$hero-bg-color: #2f303a;
$hero-btn-text-color: #ffffff;
$hero-btn-bg-color: #2196f3;
$hero-btn-active-color: #188ce8;
$hero-main-text-color: #ffffff;
$dignity-article-text-color: #212121;
$dignity-description-text-color: #757575;
$occupation-main-text-color: #212121;
$team-bg-color: #f5f4fa;
$team-main-text-color: #212121;
$team-item-color: #ffffff;
$team-name-text-color: #212121;
$team-position-text-color: #757575;
$team-social-button-color: #afb1b8;
$team-social-button-bg-color: #ffffff;
$team-social-button-active-color: #ffffff;
$portfolio-btn-text-color: #212121;
$portfolio-btn-bg-color: #f5f4fa;
$portfolio-btn-active-color: #ffffff;
$portfolio-btn-bg-active-color: #2196f3;
$portfolio-work-name-color: #212121;
$portfolio-description-color: #757575;
$portfolio-list-item-bg-color: #ffffff;
$portfolio-list-item-description-border-color: #eeeeee;
$footer-bg-color: #2f303a;
$footer-contact-color: #ffffff;
$footer-contact-link-color: rgba(255, 255, 255, 0.6);
$footer-contact-link-active-color: #2196f3;
$footer-social-text-color: #ffffff;
$footer-social-text-button-color: #ffffff;
$footer-social-button-active-color: #2196f3;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);

$body-font: "Roboto", Tahoma, sans-serif;
